<head>

	<title>{{ title }} | virtual-piano</title>

	<!-- SCALING FOR MOBILE DEVICES -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FAVICON -->
	<link rel="shortcut icon" href="/favicon.png"/>

	<!-- FONT AWESOME -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<!-- STYLESHEETS -->
	<link href="https://fonts.googleapis.com/css?family=Barrio|Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/piano.css">

	<!-- JQUERY -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<!-- ANGULAR -->
	<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>-->
    
    <!-- FIREBASE -->
    <!--<script src="//gstatic.com/firebasejs/3.6.7/firebase.js"></script>
	<script src="//cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>-->

	<!-- AUDIOSYNTH -->
	<script src="/js/audiosynth.js"></script>

	<!-- SOCKET.IO -->
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	
</head>
<body>