<div id="piano">
	<div class="keys">

		<div class="white-keys">
			<div class="key white-key" data-key="C-2"></div>
			<div class="key white-key" data-key="D-2"></div>
			<div class="key white-key" data-key="E-2"></div>
			<div class="key white-key" data-key="F-2"></div>
			<div class="key white-key" data-key="G-2"></div>
			<div class="key white-key" data-key="A-2"></div>
			<div class="key white-key" data-key="B-2"></div>
			<div class="key white-key" data-key="C-3"></div>
			<div class="key white-key" data-key="D-3"></div>
			<div class="key white-key" data-key="E-3"></div>
			<div class="key white-key" data-key="F-3"></div>
			<div class="key white-key" data-key="G-3"></div>
			<div class="key white-key" data-key="A-3"></div>
			<div class="key white-key" data-key="B-3"></div>
			<div class="key white-key" data-key="C-4"></div>
			<div class="key white-key" data-key="D-4"></div>
			<div class="key white-key" data-key="E-4"></div>
			<div class="key white-key" data-key="F-4"></div>
			<div class="key white-key" data-key="G-4"></div>
			<div class="key white-key" data-key="A-4"></div>
			<div class="key white-key" data-key="B-4"></div>
			<div class="key white-key" data-key="C-5"></div>
			<div class="key white-key" data-key="D-5"></div>
			<div class="key white-key" data-key="E-5"></div>
			<div class="key white-key" data-key="F-5"></div>
			<div class="key white-key" data-key="G-5"></div>
			<div class="key white-key" data-key="A-5"></div>
			<div class="key white-key" data-key="B-5"></div>
			<div class="key white-key" data-key="C-6"></div>
			<div class="key white-key" data-key="D-6"></div>
			<div class="key white-key" data-key="E-6"></div>
		</div>

		<div class="black-keys">
			<span class="cluster">
				<div class="key black-key" data-key="C#-2"></div>
				<div class="key black-key" data-key="D#-2"></div>
			</span>
			<span class="cluster">
				<div class="key black-key" data-key="F#-2"></div>
				<div class="key black-key" data-key="G#-2"></div>
				<div class="key black-key" data-key="A#-2"></div>
			</span>
			<span class="cluster">
				<div class="key black-key" data-key="C#-3"></div>
				<div class="key black-key" data-key="D#-3"></div>
			</span>
			<span class="cluster">
				<div class="key black-key" data-key="F#-3"></div>
				<div class="key black-key" data-key="G#-3"></div>
				<div class="key black-key" data-key="A#-3"></div>
			</span>
			<span class="cluster">
				<div class="key black-key" data-key="C#-4"></div>
				<div class="key black-key" data-key="D#-4"></div>
			</span>
			<span class="cluster">
				<div class="key black-key" data-key="F#-4"></div>
				<div class="key black-key" data-key="G#-4"></div>
				<div class="key black-key" data-key="A#-4"></div>
			</span>
			<span class="cluster">
				<div class="key black-key" data-key="C#-5"></div>
				<div class="key black-key" data-key="D#-5"></div>
			</span>
			<span class="cluster">
				<div class="key black-key" data-key="F#-5"></div>
				<div class="key black-key" data-key="G#-5"></div>
				<div class="key black-key" data-key="A#-5"></div>
			</span>
			<span class="cluster">
				<div class="key black-key" data-key="C#-6"></div>
				<div class="key black-key" data-key="D#-6"></div>
			</span>
		</div>

	</div>
</div>