<!DOCTYPE html>
<html>

{{>head}}

<body>

	<div class="container">

		<div id="home-menu">

			<h1>bandify</h1>
			<div id="create-jam-session-menu">
				<input type="text" placeholder="enter a session name">
				<div class="button" id="create-jam-session">start jammin'</div>
			</div>
		
		</div>

	</div>

</body>
</html>																																																			