<!DOCTYPE html>
<html>

{{>head}}

<body>

	<div id="jam-instruments">
		{{>piano}}
	</div>

	<div id="jam-session-info">
		<p>invite your friends to join at</p>
		<h3 class="jam-session-url">{{ url }}</h3>
	</div>

	<script src="/js/jam-session.js"></script>

</body>
</html>